### Servers
NEXT_PUBLIC_FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_FRONTEND_API_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000"

### Litus oauth
LITUS_HOST="https://vtk.be"
NEXT_PUBLIC_LITUS_OAUTH_AUTHORIZE="${LITUS_HOST}/api/oauth/authorize"
NEXT_PUBLIC_LITUS_OAUTH_TOKEN="${LITUS_HOST}/api/oauth/token"
NEXT_PUBLIC_LITUS_API_KEY="someapikey"

NEXT_PUBLIC_BURGIECLAN_BACKEND_AUTH="${NEXT_PUBLIC_BACKEND_URL}/api/auth/litus"

### Sentry
SENTRY_AUTH_TOKEN="sentryauthtoken"
NEXT_PUBLIC_SENTRY_DSN="https://c7a1562dd406594aeb3e6d27b13e53bc@o918793.ingest.us.sentry.io/4506733883621376"