services:
  db:
    image: postgres:18
    container_name: burgieclan-db
    volumes:
      - burgieclan-db:/var/lib/postgresql
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: burgieclan_db_pass
      POSTGRES_DB: burgieclan_db
      POSTGRES_USER: burgieclan_db_user
    networks:
      - burgieclan-network

  backend:
    container_name: burgieclan-backend
    build:
      context: .
      dockerfile: ./backend/.docker/dev/Dockerfile
    volumes:
      - .:/app
      - backend-vendor:/app/backend/vendor
      - backend-var:/app/backend/var
      - ./backend/php.dev.ini:/usr/local/etc/php/conf.d/php.dev.ini:ro
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://burgieclan_db_user:burgieclan_db_pass@db:5432/burgieclan_db?serverVersion=18&charset=utf8"
      LITUS_API_KEY: ${LITUS_API_KEY:?LITUS_API_KEY is required}
    networks:
      - burgieclan-network

  frontend:
    container_name: burgieclan-frontend
    build:
      context: .
      dockerfile: ./frontend/.docker/dev/Dockerfile
    volumes:
      - .:/app
      - frontend-node-modules:/app/frontend/node_modules
      - frontend-next:/app/frontend/.next:delegated
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
      - NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - burgieclan-network
    extra_hosts:
      - "localhost:host-gateway"

networks:
  burgieclan-network:
    driver: bridge

volumes:
  burgieclan-db: {}
  backend-vendor: {}
  backend-var: {}
  frontend-node-modules: {}
  frontend-next: {}
