APP_SECRET=replaceThisEnvVariable
POSTGRES_PASSWORD=replaceThisEnvVariable
LITUS_API_KEY=replaceThisEnvVariable
LITUS_SECRET=notUsedInLitus
SENTRY_DSN=
JWT_PASSPHRASE=replaceThisEnvVariable
DATA_DIR=./data
JWT_DIR=./jwt
POSTGRES_DATA_DIR=./postgres_data
S3_ENDPOINT=https://nbg1.your-objectstorage.com
S3_BUCKET=burgieclan-vtk
S3_ACCESS_KEY=replaceThisEnvVariable
S3_SECRET_KEY=replaceThisEnvVariable
S3_REGION=nbg1