$font-default: 19px;

$font-heading: 2.5rem;
$font-subtitle: 1.5rem;

$vtk-blue: #202348;
$red: #e74c3c;
$blue: #3498db;

$secondary-color: #ecf0f1;
$gray-700: #495057;

$navbar-margin-bottom: 21px;
$navbar-toggler-padding-x: 0.75rem;