$font-default: 19px;

$font-heading: 2.5rem;
$font-title: 2rem;
$font-subtitle: 1.5rem;

$vtk-blue: #202348;
$primary: $vtk-blue;
$success: #18bc9c;
$yellow: #f39c12;
$red: #e74c3c;
$blue: #3498db;
$white: #ffffff;

$secondary-color: #ecf0f1;
$gray-900: #212529;
$gray-800: #343a40;
$gray-700: #495057;
$gray-600: #6c757d;
$gray-300: #dee2e6;
$gray-200: #e9ecef;
$gray-7500: #e9ecec;

$navbar-margin-bottom: 21px;
$navbar-toggler-padding-x: 0.75rem;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$table-cell-padding: 0.5rem;

$btn-padding-y-lg: 21px;
$btn-padding-x-lg: 14px;
$btn-padding-y: 15px;
$btn-padding-x: 10px;
$btn-padding-y-sm: 9px;
$btn-padding-x-sm: 6px;