name: PHPUnit Tests

on:
  push:
    branches:
      - release/**
  pull_request:
    branches:
      - "**"

jobs:
  php-unit:
    runs-on: ubuntu-latest # The job runs on the latest version of Ubuntu

    services:
      db:
        image: postgres:18
        env:
          POSTGRES_USER: burgieclan_db_user
          POSTGRES_PASSWORD: burgieclan_db_pass
          POSTGRES_DATABASE: burgieclan_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U burgieclan_db_user -d burgieclan_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Checks out the repository code

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: backend/vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Set up PHP
        uses: shivammathur/setup-php@v2 # Sets up the specified PHP version
        with:
          php-version: "8.4"

      - name: Install dependencies
        run: |
          cd backend
          composer install
          php bin/console lexik:jwt:generate-keypair

      - name: Backend - Create database
        run: |
          cd backend
          bin/console doctrine:database:create --if-not-exists --env=test
          bin/console doctrine:schema:create --env=test

      - name: Run PHPUnit tests
        run: |
          cd backend
          vendor/bin/phpunit tests

      - name: Block merge if tests fail
        if: failure() # This step runs only if the previous steps failed
        run: exit 1 # Exits with a non-zero status to block the merge if tests fail
